@tailwind components;
@tailwind base;
@tailwind utilities;

@layer components {
  .box {
    @apply hover:bg-zinc-200 rounded-xl h-[47vh] transition-all duration-200;
  }

  .box-title {
    @apply text-center text-5xl font-bold text-zinc-200 pt-[16.5vh];
  }

  .inner-box {
    @apply w-full h-12 bg-zinc-200 group-hover:bg-yellow-500 rounded-t-xl transition-all duration-200;
  }

  .inner-title {
    @apply hidden text-center text-4xl font-bold text-neutral-700 transition-all duration-200 border-b-4 border-neutral-400 mx-8 py-[1vh] border-dashed;
  }

  .inner-text {
    @apply hidden text-center mx-4 text-2xl font-medium text-neutral-600 pt-[1vh] transition-all duration-200;
  }

  .list-style {
    @apply hidden group-hover:block pt-[1vh] text-neutral-600 font-medium text-2xl transition-all duration-200 ml-8;
  }

  .link-hover {
    @apply bg-gradient-to-tr from-blue-500 to-blue-500
    bg-no-repeat [background-position:0_100%]
    [background-size:100%_0.2em]
    motion-safe:transition-all motion-safe:duration-200
    hover:[background-size:100%_100%]
    focus:[background-size:100%_100%] hover:text-gray-100;
  }
}
